body {
  background-color: aquamarine;
  margin: 0px;
  padding: 0px;
}

#logo {
  text-align: center;
}

.navbar {
  background-color: burlywood;
  display: flex;
  justify-content: space-around;
  font-size: x-large;
  padding: 30px;
  text-decoration: none;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
}

#logo img {
  width: 140px;
  height: 140px;
}
